
.container {
    width: 80%;
}

.flag {
  margin: auto;
  height: 300px;
  width: 500px;
}
.stripe {
  display: block;
  width: 100%;
  height: 33.3%;
}
.black {
  background-color: #000000;
}
.red {
  background-color: #FF0000;
}
.gold{
  background-color: #FFCC00;
}