* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("../images/cursor.png"), auto;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ccc;
}

.pain,
.rain,
.ami {
  width: 600px;
  height: 250px;
  margin: auto;
  background: #fff;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.pain {
  grid-template-columns: repeat(3, 1fr);
}

.rain {
  grid-template-columns: repeat(2, 1fr);
}

.ami {
  grid-template-columns: 3fr 1fr;
}

.pain > div,
.rain > div,
.ami > div {
  background: cornflowerblue;
}
